*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #F8F8FF;
	font-family: "微软雅黑", serif;
	font-size: 14px;
}

.content{
	margin: 0 20%;
	background-color: 	#FFFFFF;
}

#editor{
	font: italic 20px/1 "微软雅黑", serif;
	text-align: right;
}

h1{
	text-align: center;
	margin: 20px 1rem;
	color: #c60;
	font-size: 30px;
}

#lead_text{
	margin: 20px auto;
	font: 20px/2 "微软雅黑", serif;
	text-align: justify;

}

ul{
	float: left;
	margin-top: 50px;
	list-style: none;
}

li{
	list-style: none;
	margin-bottom: 20px;
}

/*#a1{
	position: relative;
}

#a2{
	position: absolute;
	right: 1px;
}*/

a{
	width: 800px;
	text-decoration: none;
	font: bold 25px/2 "微软雅黑";
	color: orange;
	/*margin-left: 4rem;*/
}

#hide{
	display: none;
	margin-top: 5%;
}

a:active{
	color: blue;
}

#photo{
	position: absolute;
}

#placeholder{
	margin: 0 auto;
	float: left;
	width: 800px;
	display: block;
	/*position: absolute;*/
}

.intro{
	display: block;
	width: 15%;
	/*width: 300px;*/
	position: fixed;
	right: 0;
	top: 6rem;
	/*margin: 0px 10px 0px 0px;*/
	padding-right: 20px;
	/*float: right;*/
}

#introduction{
	font: italic 25px "微软雅黑";
	color: red;
	display: inline-block;
	/*position: relative;*/
	/*right: 10px;*/
	/*float: right;*/
}

.index{
	position: fixed;
	left: 2rem;
	top:4rem;
}